@keyframes pulse {
   0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 255, 0.6), 0 0 20px 5px rgba(255, 0, 255, 0.3);
   }
   50% {
      box-shadow: 0 0 0 10px rgba(255, 0, 255, 0), 0 0 20px 5px rgba(255, 0, 255, 0.3);
   }
   100% {
      box-shadow: 0 0 0 0 rgba(95, 39, 205, 0.6), 0 0 20px 5px rgba(0, 0, 255, 0.3);
   }
}
.card {
   background: linear-gradient(to left bottom, rgba(217, 13, 13, 0));
   animation: pulse 2s infinite;
   background-color:hsla(0,0%,12%,1);
	background-image:
	radial-gradient(at 40% 20%, hsla(0,0%,0%,1) 0px, transparent 50%),
	radial-gradient(at 80% 0%, hsla(180,94%,6%,1) 0px, transparent 50%),
	radial-gradient(at 0% 50%, hsla(0,0%,0%,1) 0px, transparent 50%),
	radial-gradient(at 80% 50%, hsla(270,100%,9%,1) 0px, transparent 50%),
	radial-gradient(at 0% 100%, hsla(240,67%,7%,1) 0px, transparent 50%),
	radial-gradient(at 80% 100%, hsla(184,50%,12%,1) 0px, transparent 50%),
	radial-gradient(at 0% 0%, hsla(261,95%,8%,1) 0px, transparent 50%);
}


.card2 {
   animation: pulse 2s infinite;
}
