#root {
   margin: 0 auto;
}
* {
   box-sizing: border-box;
   margin: 0;
}
.underline-animation {
   position: relative;
   display: inline-block;
   padding-bottom: 5px;
   overflow: hidden;
}

.underline-animation::after {
   content: "";
   position: absolute;
   left: 50%;
   bottom: 0;
   width: 0;
   height: 2px;
   background-color: rgb(255, 255, 255);
   transform: translateX(-50%);
   transition: width 0.3s;
}

.underline-animation:hover::after {
   width: 100%;
}
